.wrapper {
  padding: 15px;
}

.goBack {
  height: 40px;
  width: 30px;
  color: #0d253f;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goBack:hover,
.goBack:focus {
  color: #01b4e4;
}

.box {
  display: flex;
  column-gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.img {
  width: 280px;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.title {
  margin-bottom: 15px;
}

.overview {
  margin-bottom: 15px;
}

.moreInfoLink {
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 4px;
  display: inline-flex;
  color: inherit;
  box-shadow: 2px 1px 5px #01b4e4;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moreInfoLink:hover,
.moreInfoLink:focus {
  color: #01b4e4;
}
