.nav {
  padding: 10px;
  display: flex;
  column-gap: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #0d253f;
}

.navLink {
  border-radius: 4px;
  display: inline-flex;
  padding: 20px;
  font-size: 22px;
  color: inherit;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 2px 1px 5px #01b4e4;
}

.navLink:hover,
.navlink:focus {
  transform: scale(1.1);
}

.navLinkActive {
  background-color: #0d253f;
  color: #ffffff;
}
